.body {
  padding-bottom: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  background-color: rgb(26, 24, 24);
  border-color: gray;
}

.first {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-left: 10px;
}

.gray {
  color: gray;
  font-weight: bold;
  font-size: 14px;
}

.blue {
  color: rgb(33, 138, 223);
  font-weight: bold;
  font-size: 14px;
}

.last {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: right;
  column-gap: 15px;
}

.english {
  font-weight: bold;
  color: white;
}

.usd {
  font-weight: bold;
  color: white;
}

.channel-div {
  border-left-style: solid;
  border-width: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-color: gray;
}

.channel-picture {
  margin-left: 5px;
  margin-top: 5px;
}

.button1 {
  background-color: black;
  color: rgb(42, 42, 245);
  padding: 1px 15px 1px 15px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 3px;
  font-weight: bold;
  border-color: rgb(41, 41, 236);
}

.button2 {
  background-color: rgb(41, 41, 236);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 1px 15px 1px 15px;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}